<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="22.2.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="GrapeCity.Documents.Imaging" version="5.0.0.773" targetFramework="net472" />
  <package id="GrapeCity.Documents.Pdf" version="5.0.0.773" targetFramework="net472" />
  <package id="IronOcr" version="2022.1.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Russian" version="2020.11.2" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="pdf-extract" version="1.0.1.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>